.home-text{
    font-size: x-large;
    margin: 30px;
}
 .home-image{
    float: left;
    margin-right: 20px;
    margin-left:  10px;
}
.home-btn{
    margin-left: 10px;
    font-size: medium;
    border-radius: 10px;
    background-color:yellow;
    padding:5px 10px;
}
.home-btn-text{
    color:rgb(255,16,240);
    font-size:x-large
}
.div-1{
    display:flexbox;
    flex-wrap: wrap;
}
.div-2{
    margin-top: 10px;
    position: relative;
    
}
.div-3{
    position:relative;
    margin-top: 10px;
    margin-left: 50px;
}
.list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:5px;
}
.div-img, .div-text{
    display:block;
}
@media screen and (max-width: 1156px) {
    .div-1,.div-2 {
      flex-basis:100%;
    }
}
.container{
    display: flex;
    flex-wrap: wrap;
}