.container-fluid{
    background-color: orangered !important;
    height: 60px;
    font-size: x-large;
}
.navbar-brand, .nav-btn{
    color:rgb(90, 2, 90) !important;
    background-color: orangered !important;
    border:0;
    font-size: x-large;
    margin: 10px;
}
.nav-btn:hover{
    color:white !important;
}
#content{
    position: absolute;
    color:green;
}